.listItem {
    display: flex;
    align-items: baseline;
    list-style: none;
    padding: 10px;
    align-items: baseline;
    color: whitesmoke;
}

.editInput {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: inherit;
}

.label {
    display: flex;
}

.label:focus {  
    outline: none;
}

.listItem.light {
    background-color: aliceblue;
    color: black;
}

.listItem.dark {
    background-color: black;
} 

.button {
    padding: 5px;
    &:hover.delete {
        background-color: rgba(209, 13, 13, 0.3);
    }
}

.buttonWrapper {
    margin-left: auto;
    padding-left: 15px;
}

.checkBox:hover {
    outline: 2px solid wheat;
    cursor: pointer;
}

