.button {
    margin-right: 5px;
    padding: 5px;
    border: none;
    outline: 1px solid rgba(0,0,0,0.3);

    &:hover{
        background: rgba(0,0,0,0.3);
        color: wheat;
        outline: 1px solid rgba(0,0,0,0.3);
        border: none;
    }

    &.delete:hover  {
        background-color: rgba(209, 13, 13, 0.3);
    }

    &.primary:hover {
        background-color: rgba(34, 229, 64, 0.3);;
    }

} 


    