.delivery {
    background-color: #2cd423;
}

.engineering {
    background-color: #f7ef01;
}

.terraforming {
    background-color: #3f42f6;
}

.military {
    background-color: #d80a0a;
}

.deck {
    width: 200px;
    height: 300px;
}