.ads {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.element {
  min-height: 370px;
  overflow: hidden;
}

.img {
  max-width: 100%;
  height: auto;
}